services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        UID: "${PUID}"
        GID: "${PGID}"
    container_name: symfony_app
    ports:
      - "8080:80"
    volumes:
      - ./:/app:cached
      - ./docker/Caddyfile:/etc/frankenphp/Caddyfile:ro
    env_file:
      - .env.docker
    user: "${PUID}:${PGID}"
    environment:
      COMPOSER_HOME: /tmp/composer
      XDG_CACHE_HOME: /tmp/.cache
      XDG_DATA_HOME: /tmp/.local/share
      XDG_CONFIG_HOME: /tmp/.config
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine
    container_name: h2h_db
    env_file:
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: h2h_redis
    ports:
      - "6379:6379"

volumes:
  pg_data:
